In [1]:
# format 함수를 사용한 포맷팅
# 숫자 바로 대입하기
"I eat {0} apples".format(3)

'I eat 3 apples'

In [3]:
# 문자열 바로 대입하기
"I eat {0} apples".format("five")

'I eat five apples'

In [4]:
# 숫자값을 가진 변수로 대입하기
number=3
"I eat {0} apples".format(number)

'I eat 3 apples'

In [5]:
# 2개 이상의 값 넣기
number=10
day="three"
"I ate {0} apples. so I was sick for {1} days.".format(number, day)

'I ate 10 apples. so I was sick for three days.'

In [6]:
# 이름으로 넣기
"I ate {number} apples. so I was sick for {day} days.".format(number=10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

In [7]:
# 인덱스와 이름을 혼용해서 넣기
"I ate {0} apples. so I was sick for {day} days.".format(10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

In [8]:
#왼쪽 정렬 (:<10 - 치환되는 문자열을 왼쪽으로 정렬하고 문자열의 총 자릿수를 10으로 맞춤)
"{0:<10}".format("hi")

'hi        '

In [9]:
#오른쪽 정렬
"{0:>10}".format("hi")

'        hi'

In [10]:
#가운데 정렬
"{0:^10}".format("hi")

'    hi    '

In [11]:
#공백 채우기
"{0:=^10}".format("hi")

'====hi===='

In [1]:
"{0:!<10}".format("hi")

'hi!!!!!!!!'

In [3]:
#소수점 표현하기
y=3.42134234
"{0:0.4f}".format(y)
"{0:10.4f}".format(y)

'    3.4213'