In [1]:
# format 함수를 사용한 포맷팅
# 숫자 바로 대입하기
"I eat {0} apples".format(3)

'I eat 3 apples'

In [3]:
# 문자열 바로 대입하기
"I eat {0} apples".format("five")

'I eat five apples'

In [4]:
# 숫자값을 가진 변수로 대입하기
number=3
"I eat {0} apples".format(number)

'I eat 3 apples'

In [5]:
# 2개 이상의 값 넣기
number=10
day="three"
"I ate {0} apples. so I was sick for {1} days.".format(number, day)

'I ate 10 apples. so I was sick for three days.'

In [6]:
# 이름으로 넣기
"I ate {number} apples. so I was sick for {day} days.".format(number=10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

In [7]:
# 인덱스와 이름을 혼용해서 넣기
"I ate {0} apples. so I was sick for {day} days.".format(10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

In [8]:
#왼쪽 정렬 (:<10 - 치환되는 문자열을 왼쪽으로 정렬하고 문자열의 총 자릿수를 10으로 맞춤)
"{0:<10}".format("hi")

'hi        '

In [9]:
#오른쪽 정렬
"{0:>10}".format("hi")

'        hi'

In [10]:
#가운데 정렬
"{0:^10}".format("hi")

'    hi    '

In [11]:
#공백 채우기
"{0:=^10}".format("hi")

'====hi===='

In [1]:
"{0:!<10}".format("hi")

'hi!!!!!!!!'

In [3]:
#소수점 표현하기
y=3.42134234
"{0:0.4f}".format(y)
"{0:10.4f}".format(y)

'    3.4213'

In [1]:
"{{ and }}".format()

'{ and }'

In [2]:
#f문자열 포맷팅
name = '홍길동'
age = 30
f'나의 이름은 {name}입니다. 나이는 {age}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [3]:
age=30
f'나는 내년이면 {age+1}살이 된다.'

'나는 내년이면 31살이 된다.'

In [5]:
d={'name':'홍길동', 'age':30}
f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [8]:
f'{"hi":<10}'   #왼쪽 정렬
f'{"hi":>10}'   #오른쪽 정렬
f'{"hi":^10}'   #가운데 정렬

'    hi    '

In [10]:
f'{"hi":=^10}'  #가운데 정렬하고, '=' 문자로 공백 채우기
f'{"hi":!<10}'  #왼쪽 정렬하고, '!' 문자로 공백 채우기

'hi!!!!!!!!'

In [12]:
y=3.42134234
f'{y:0.4f}'     #소수점 4자리까지만 표현
f'{y:10.4f}'    #소수점 4자리까지 표현하고 총 자릿수를 10으로 맞춤

'    3.4213'

In [13]:
f'{{ and }}'

'{ and }'

In [14]:
# 문자 개수 세기 (count)
a = "hobby"
a.count('b')      #문자 개수 세기(count)

2

In [16]:
# 위치 알려주기 (find)

a = "Python is the best choice"
a.find('b')
a.find('k')       #찾는 문자나 문자열이 존재하지 않는다면 -1을 반환

-1

In [19]:
# 위치 알려주기 (index)

a = "Life is too short"
a.index('t')
a.index('k')      #찾는 문자나 문자열 안에 존재하지 않는 문자를 찾으면 오류 발생

ValueError: substring not found

In [21]:
# 문자열 삽입 (join)

",".join('abcd')    # abcd문자열의 각각의 문자 사이에 ','를 삽입
",".join(['a','b','c','d'])

'a,b,c,d'

In [22]:
# 소문자를 대문자로 바꾸기 (upper)

a = "hi"
a.upper()

'HI'

In [23]:
# 대문자를 소문자로 바꾸기 (lower)

a = "HI"
a.lower()

'hi'

In [26]:
# 왼쪽 공백 지우기 (lstrip)

a = " hi "
a.lstrip()

'hi '

In [25]:
# 오른쪽 공백 지우기 (rstrip)

a = " hi "
a.rstrip()

' hi'

In [27]:
# 양쪽 공백 지우기 (strip)

a = " hi "
a.strip()

'hi'

In [28]:
# 문자열 바꾸기 (replace)

a = "Life is too short"
a.replace("Life", "Your leg")

'Your leg is too short'

In [31]:
# 문자열 나누기 (split)

a = "Life is too short"
a.split()         # 괄호 안에 아무값도 넣어주지 않으면, 공백(스페이스, 탭, 엔터 등) 기준

b = "a:b:c:d"
b.split(':')      # 괄호 안의 값을 구분자로 해서 문자열을 나누어준다.

['a', 'b', 'c', 'd']